---
layout: default
---

<header class="major container 75%">
    <h2>Join us in Newcastle <br> to celebrate Statistical Mechanics,<br>Combinatorics and <br> Tony Guttmann's 70th birthday</h2>
    <p>
    <a class="my-button" href="https://www.eventbrite.com/e/guttmann-2015-registration-16291431109">Register</a><br>
    </p>
</header>

<div class="box container">
    <section>
    <p>
    All are welcome, but speaking slots are by invitation only.
    </p>
    <p>
    If you have been invited to speak at Guttmann 2015 please only use the registration form
    to pay for the conference dinner. If you do not wish to attend the dinner there is no need to do anything; we will register you directly.<br>
    </p>
    <p>
    If you are attending Guttmann 2015 please consider participating in the <a
        href="http://www.anzamp.austms.org.au/meetings/current/">Fourth Annual
        Meeting of the Australian and New Zealand Association of Mathematical
        Physics</a>.

    The ANZAMP meeting is from 9-11 December, in the same venue; NOAH's On The
    Beach in Newcastle. All attendees of Guttmann 2015 are entitled to the
    discounted registration rate for the ANZAMP meeting.
    </p>
    </section>
</div>


<div class="box container">
    <section>
        <header><h3>Confirmed speakers</h3></header>
        <p style="text-align: center;">
        {% for speaker in site.data.speakers | sort: 'name' %}
        <a href="{% if speaker.url %}{{ speaker.url }}{% else %}#{% endif %}">{{ speaker.name }}</a><br>
        {% endfor %}
        </p>
    </section>
    <section>
        <header><h3>Organising committee</h3></header>
        <p style="text-align: center;">
        <a href="http://www.andreabedini.com">Andrea Bedini</a><br>
        <a href="http://www.ms.unimelb.edu.au/Personnel/profile.php?PC_id=12">Richard Brak</a><br>
        <a href="http://clisby.net">Nathan Clisby</a><br>
        <a href="#">Kerry Hill</a><br>
        <a href="http://www.newcastle.edu.au/profile/judy-anne-osborn">Judy-anne Osborn</a><br>
        <a href="http://www.ms.unimelb.edu.au/~aleks/">Aleks Owczarek</a><br>
        </p>
        <p>For further information please contact Nathan Clisby,
        <a href="mailto:nclisby@unimelb.edu.au">nclisby@unimelb.edu.au</a>.
</p>
    </section>
</div>

<div class="box container">
    <p>This event is sponsored by the Australian Mathematical Sciences
    Institute (AMSI). AMSI allocates a travel allowance annually to each of
    its <a href="http://amsi.org.au/membership/members/">member universities</a>.

    Students or early career researchers from AMSI member universities without
    access to a suitable research grant or other source of funding may apply
    <a href="http://research.amsi.org.au/travel-funding/">here</a>
    to the Head of Mathematical Sciences for subsidy of travel and
    accommodation out of the departmental travel allowance.</p>
</div>

<div class="box container">
    <h3>Location</h3>
    <p>
    Quality Hotel NOAH'S On the Beach Newcastle<br>
    Corner Shortland Esplanade &amp; Zaara Street Newcastle 2300<br>
    Tel: <a href="tel:+61249295181">+61 (0)2 4929 5181</a><br>
    Fax: +61 (0)2 4926 5208<br>
    Email: <a href="mailto:reservations@noahsonthebeach.com.au">reservations@noahsonthebeach.com.au</a>
    </p>
    <p>
        Information on travel and accommodation options can be found at the website for the
        <a href="http://www.anzamp.austms.org.au/meetings/current/accommodation">Fourth ANZAMP annual meeting</a>.
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3348.8443641734443!2d151.787937!3d-32.928709999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73147bd2318249%3A0x41d13cf7b5a7b48e!2sQuality+Hotel+NOAH&#39;S+On+The+Beach!5e0!3m2!1sen!2sau!4v1426732111455" width="100%" height="300" frameborder="0" style="border:0"></iframe>
</div >

<footer class="major container">
    <h3>Sponsors</h3>
    <p style="text-align: center">
    <a href="http://acems.org.au"><img src="images/acems.jpg" alt="Australian Research Council Centre of Excellence for Mathematical and Statistical Frontiers" height="180px"></a>
    </p><p style="text-align: center">
    <a href="http://amsi.org.au"><img src="images/amsi.png" alt="Australian
        Mathematical Sciences Institute" height="180px"></a>
    </p>
</footer>


