---
layout: default
---

<header class="major container 75%">
    <h2>Join us in Newcastle <br> to celebrate Statistical Mechanics,<br>Combinatorics and <br> Tony Guttmann's 70th birthday</h2>
    <p>
    <a class="my-button" href="https://www.eventbrite.com/e/guttmann-2015-registration-16291431109">Register</a><br>
    </p>
</header>

<div class="box container">
    <section>
        <p>All are welcome, but speaking slots are by invitation only.</p>
        <p>If you have been invited to speak at Guttmann 2015 please only use the
        registration form to pay for the conference dinner. If you do not wish
        to attend the dinner there is no need to do anything; we will register
        you directly.</p>
        <p>If you are attending Guttmann 2015 please consider participating in
        the <a href="http://www.anzamp.austms.org.au/meetings/current/">Fourth
        Annual Meeting of the Australian and New Zealand Association of
        Mathematical Physics</a>.

        The ANZAMP meeting is from 9-11 December, in the same venue; NOAH's On
        The Beach in Newcastle. All attendees of Guttmann 2015 are entitled to
        the discounted registration rate for the ANZAMP meeting.</p>
    </section>
</div>

<header class="major container 75%">
    <a class="my-button" href="programme.html">Programme</a>
</header>

<div class="box container">
    <section>
        <header><h3>Participants</h3></header>
        <div class="table-wrapper">
            <table class="default">
                <tbody>
                    {% for participant in site.data.participants | sort: 'LastName' %}
                    <tr>
                        <td width="33%">
                            {{ participant.FirstName }} {{ participant.LastName }}
                        </td>
                        <td>
                            {% if participant.Abstract != "" %}<a href="#" data-toggle="collapse" data-target="abstract-{{forloop.index}}">{% endif %}{{ participant.Title }}{% if participant.Abstract %}</a>{% endif %}
                        </td>
                    </tr>
                    {% if participant.Abstract != "" %}
                    <tr id="abstract-{{forloop.index}}" style="display: none;">
                        <td colspan="2">
                            <p><em>{{ participant.Abstract }}</em></p>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <script>
    $("a[data-toggle]").click(function(e) {
        e.preventDefault();
        var target = document.getElementById(this.dataset['target']);
        $(target).toggle();
    });
    </script>
</div>

<div class="box container">
    <section>
        <header><h3>Organising committee</h3></header>
        <p style="text-align: center;">
        <a href="http://www.andreabedini.com">Andrea Bedini</a><br>
        <a href="http://www.ms.unimelb.edu.au/Personnel/profile.php?PC_id=12">Richard Brak</a><br>
        <a href="http://clisby.net">Nathan Clisby</a><br>
        <a href="#">Kerry Hill</a><br>
        <a href="http://www.newcastle.edu.au/profile/judy-anne-osborn">Judy-anne Osborn</a><br>
        <a href="http://www.ms.unimelb.edu.au/~aleks/">Aleks Owczarek</a><br>
        </p>
        <p>For further information please contact Nathan Clisby,
        <a href="mailto:nclisby@unimelb.edu.au">nclisby@unimelb.edu.au</a>.
        </p>
    </section>
</div>

<div class="box container">
    <p>This event is sponsored by the Australian Mathematical Sciences
    Institute (AMSI). AMSI allocates a travel allowance annually to each of
    its <a href="http://amsi.org.au/membership/members/">member universities</a>.

    Students or early career researchers from AMSI member universities without
    access to a suitable research grant or other source of funding may apply
    <a href="http://research.amsi.org.au/travel-funding/">here</a>
    to the Head of Mathematical Sciences for subsidy of travel and
    accommodation out of the departmental travel allowance.</p>
</div>

{% include location.html %}
{% include sponsors.html %}

